[Unit]
Description="Secrets download"
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/secrets-download.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target